{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup/signup.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="signup">
        <h1 class="heading">REGISTRATION FORM</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <div class="submit">
                <button type="Submit">Submit</button>
            </div>
            <div class="last-section">
                <span>Already have an account </span><a href="{% url 'login' %}">Login</a>
        </form>
</div>

<script>
    var error_section=document.querySelector(".errorlist")?document.querySelector(".errorlist"):none
    console.log(error_section);
    if(error_section){
        var error=error_section.querySelector("li")
        alert(error.innerText)
    }
</script>

</body>
</html>

