{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup/signup.css'%}">
    <script src="{% static 'login/login.js' %}" defer></script>
    <title>Document</title>
</head>
<body>
    <div id="overlay"><div class="popup" id="popup"></div></div>
    <div class="signup">
        <h1 class="heading">SIGNUP FORM</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <div class="submit">
                <button type="Submit">Submit</button>
            </div>
            <div class="last-section">
                <span>Already have an account </span><a href="{% url 'login' %}">Login</a>
        </form>
</div>


</body>
</html>

