*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navigation{
    height:700px;
}
.navigation .image{
    position: relative;
    width: 100%;
    height: 700px;
}
.navigation .container{
    position: absolute;
    top: 0;
    left: 0;
}
.navigation .nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    color: white;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 4;
}
.navigation .nav:hover{
    box-shadow: 2px 2px 5px rgb(40, 40, 40);
    
}
.navigation .profile{
    background-color: transparent;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.navigation #dropdown{
    display: none;
}
.navigation .dropdown-items{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #534f4f;
    top: 90%;
    padding: 6px 0px;
    border-radius: 6px;
    right: 10px;
    box-shadow: 1px 1px 5px rgb(83, 83, 83);
    justify-content: center;
    align-items: center;
}
.navigation .dropdown-items a{
    padding: 10px 10px;
    width: 80px;
}
.navigation .dropdown-items a:hover{
    background-color: black;
}

.navigation .section-logo{
    display: flex;
    gap:20px;
    align-items: center;
    font-weight: 600;
}
/* .navigation .section-logo h4{
font
} */
.navigation .tabs a{
    color: white;
    text-decoration: none;
}
.navigation .tabs .active{
    color: #b56231;
}

.navigation .tabs{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.navigation .caption{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    top: 90%;
    left: 30%;
}
.navigation .content{
    width: 950px;
    color: white;
    font-size: 3.6rem;
    text-align: center;
}
.popup{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.popup p{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 300px;

}
.timer-bar {
    margin-top: 30px;
    width: 100%; 
    height: 15px;
    border-radius: 20px;
    background-color: #4CAF50;
    transition: width 0.3s linear;
}
#overlay {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 99; 
    display: none; 
}


@media screen and (min-width:1600px) and (max-width:1940px){
    .navigation .caption {
        left:15%
    }
}