/* register */
.register{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3rem 0px;
    justify-content: center;
    align-items: center;
}
.register h1{
    color: #b56231;
    font-size: 40px;
    margin-bottom: 3rem;
}

.register form{
    box-shadow: 1px 1px 8px 2px gray;
    border-radius: 6px;
    padding: 1rem;
}
.register form .top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 1rem;
}

.register form .top-container label{
    font-size: 24px;
    color: #b56231;
}
.register form .top-container input{
    border-radius: 3px;
    outline: none;
    padding-left: 6px;
    border: none;
    box-shadow: 2px 2px 4px 1px rgb(216, 215, 215);
    height: 40px;
    font-size: 18px;
    width: 300px;
    color: gray;
}

.register form .submit,.register form .sign{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.register form .submit button{
    padding: 4px;
    border-radius: 6px;
    margin-top: 40px;
    width: 130px;
    cursor: pointer;
    height: 40px;
    outline: none;
    background-color: #b56231;
    color: white;
    border: none;
    font-size: 16px;
} 
.register form .sign button{
    border: none;
    background-color: white;
    color: blue;
    font-size: 14px;
}
.register form .sign button:hover{
    cursor: pointer;
    text-decoration: underline;
}

signin
.signin{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3rem 0px;
    justify-content: center;
    align-items: center;
}
#signin{
    display: none;
}
.signin h1{
    color: #b56231;
    font-size: 40px;
    margin-bottom: 3rem;
}

.signin form{
    box-shadow: 1px 1px 8px 2px gray;
    border-radius: 6px;
    padding: 1.4rem 1rem;
}
.signin form .top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 1rem;
}

.signin form .top-container label{
    font-size: 24px;
    color: #b56231;
}
.signin form .top-container input{
    border-radius: 3px;
    outline: none;
    padding-left: 6px;
    border: none;
    box-shadow: 2px 2px 4px 1px rgb(216, 215, 215);
    height: 40px;
    font-size: 18px;
    width: 300px;
    color: gray;
}

.signin form .submit,.signin form .sign{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.signin form .submit button{
    padding: 4px;
    border-radius: 6px;
    margin-top: 30px;
    width: 130px;
    cursor: pointer;
    height: 40px;
    outline: none;
    background-color: #b56231;
    color: white;
    border: none;
    font-size: 16px;
} 
.signin form .sign button{
    border: none;
    background-color: white;
    color: blue;
    font-size: 14px;
}
.signin form .sign button:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* footer */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    font-weight: 500;
}
.footer-container .content a{
    text-decoration: none;
    color: black;
}
.footer-container .content a:hover{
    text-decoration: underline;
}
.footer-container .icons {
    display: flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.footer-container .icons a{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}