.quiz{
    margin: 3rem 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz form{
    box-shadow: 1px 1px 10px 2px gray;
    margin: 2rem 0px;
    padding: 30px;
    border-radius: 8px;
}
.quiz h1{
    color: #b56231;
    font-size: 50px;
    text-align: center;
}
.quiz form h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #b56231;
}
.quiz form input{
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 20px;
}
 .quiz form label{
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
}
.quiz form .submit{
    width: 100%;
    text-align: center;
}
.quiz form .submit button{
    padding: 4px;
    border-radius: 6px;
    margin-top: 40px;
    width: 130px;
    cursor: pointer;
    height: 40px;
    outline: none;
    background-color: #b56231;
    color: white;
    border: none;
    font-size: 16px;
} 

.skin_analysis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skin_analysis .analysis {
    margin: 40px 0px;
    font-size: 24px;
}
.skin_analysis .analysis div{
    display: flex;
    margin-top: 10px;
    gap: 80px;
}
.skin_analysis .analysis div .side{
    width: 350px;
    color:#b56231 ;
    padding-left:80px
    
}

.skin_analysis .submit{
    width: 100%;
    text-align: center;
}
.skin_analysis .submit button{
    padding: 6px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 150px;
    cursor: pointer;
    height: 40px;
    outline: none;
    background-color: #b56231;
    color: white;
    border: none;
    font-size: 16px;
}
.skin_analysis h3{
    color: #b56231;
    font-size: 26px;
    text-align: center;
}
.skin_analysis h3 a{
    text-decoration: none;
    color: #b56231;
}
.skin_analysis h3 a:hover{
    text-decoration:underline;
}

/* footer */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    font-weight: 500;
}
.footer-container .content a{
    text-decoration: none;
    color: black;
}
.footer-container .content a:hover{
    text-decoration: underline;
}
.footer-container .icons {
    display: flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.footer-container .icons a{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}
@media (max-width:1200px){
    .quiz .form-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quiz form{
        width: 85%;

    }
}

@media (max-width:700px){
    .quiz form h2 {
        font-size: 22px;
    }
}
@media (max-width:650px){
    .skin_analysis .analysis div .side {
        padding-left: 10%;
        width: 230px;
    }
}
@media (max-width:530px){
    .skin_analysis .analysis div .side {
        padding-left: 0px;
        width: 100%;
        font-size: 30px;
    }
    .skin_analysis .analysis div .exist {
        padding-left: 28px;
    }
    .skin_analysis .analysis div{
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
}