
.section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0px;
}

.section-two .text{
    color:rgba(173,121,91,255);
    font-size: 40px;
    font-weight: 600;
}

.section-three{
    display: flex;
    margin: 0px 40px;
    justify-content: center;
    gap: 90px;
    align-items: center;
    
}
.section-three .conventional, .section-three .natural{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 600px;
}
.section-three .conventional img, .section-three .natural img{
    width: 600px;
    height: 400px;
}
.section-three .conventional h3, .section-three .natural h3{
    color: #b56231;
    font-weight: 600;
    font-size: 28px;
    padding-top: 10px;
}
.section-three .conventional p, .section-three .natural p{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}
.section-four{
    margin:5rem 0px ;

}
.section-four .text{
    color:rgba(173,121,91,255);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3rem
}

.section-four .card-container{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    margin: 0px 80px;
    text-align: center;
}
.section-four .card-container .cards img{
    width:300px;
    height: 300px;
    
}
.section-four .card-container .cards h3{
    color:rgba(173,121,91,255);
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}
.section-five{
margin: 5rem 0px;
}
.section-five .text{
    color:rgba(173,121,91,255);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3rem ;
}

.section-five .card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-content: center;
    margin: 0px 80px;
    text-align: center;
}
.section-five .card-container .cards img{
    width: 300px;
    height: 300px;
    
}
.section-five .card-container .cards h3{
    color:rgba(173,121,91,255);
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}



/* footer */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    font-weight: 500;
}
.footer-container .content a{
    text-decoration: none;
    color: black;
}
.footer-container .content a:hover{
    text-decoration: underline;
}
.footer-container .icons {
    display: flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.footer-container .icons a{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

/* media queries */

@media screen and (min-width:1600px) and (max-width:1940px){
    .section-three .conventional, .section-three .natural,.section-three .conventional img, .section-three .natural img{
        width: 500px;
    }
    .section-four .card-container .cards img,.section-five .card-container .cards img  {
        width: 250px;
    }
    .section-four .text,.section-five .text  {
        font-size: 38px;
    }

}