.content{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.content .heading {
    color: #b56231;
    font-size: 40px;
    margin-top: 1rem;
}
.content  form{
    box-shadow: 1px 1px 8px 2px gray;
    border-radius: 5px;
    padding: 2rem; 
    margin: 50px;
}
.content  form label{
    color: #b56231;
    font-size: 25px;
    line-height: 3.5rem;
    margin-right: 1rem;
}
/* #id_username{
    margin-bottom: 20px;
   } */
.content form input{
    border-radius: 3px;
    padding-left: 10px;
    border: none;
    box-shadow: 2px 2px 4px 1px rgb(216, 215, 215);
    height: 35px;
    font-size: 18px;
    color: gray;
}
.content form button{
    align-items: center;
    margin: 20px;
    color: white;
    background-color:#b56231;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    padding: 8px 20px;
}
.content form button:hover{
    cursor: pointer;
}
/* footer */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    font-weight: 500;
}

.footer-container .content a{
    text-decoration: none;
    color: black;
}
.footer-container .content a:hover{
    text-decoration: underline;

}
.footer-container .icons {
    display: flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.footer-container .icons a{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;

}