
.skin-treatment h1{
    color: #b56231;
    font-size: 40px;
    margin: 3rem 0px;
    text-align: center;
    width: 100%;
}
.skin-treatment h2{
    color: #b56231;
    font-size: 30px;
    margin: 3rem 0px;
}
.skin-treatment .content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8rem;
}
.skin-treatment h3{
    color: #b56231;
    font-size: 30px;
    margin: 3rem 0px;
}
.skin-treatment .facewash .essentials{
    display: flex;
    margin: 5rem 0px;
}
.skin-treatment .facewash .essentials .head{
    color: #b56231;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 50%;
}
.skin-treatment .facewash .essentials .description{
    font-size: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skin-treatment .facewash .essentials .head-images{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.skin-treatment .facewash .essentials .head-images img{
    width:40% ;
    height: 100%;
}


/* footer */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    font-weight: 500;
}
.footer-container .content a{
    text-decoration: none;
    color: black;
}
.footer-container .content a:hover{
    text-decoration: underline;
}
.footer-container .icons {
    display: flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.footer-container .icons a{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}
.footer-container .content a:hover{
    text-decoration: underline;
}
.footer-container .icons {
    display: flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.footer-container .icons a{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}