


.skin-treatment h1{
    color: #b56231;
    font-size: 40px;
    margin-bottom: 3rem;
}




/* footer */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    font-weight: 500;
}
.footer-container .content a{
    text-decoration: none;
    color: black;
}
.footer-container .content a:hover{
    text-decoration: underline;
}
.footer-container .icons {
    display: flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.footer-container .icons a{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}
.footer-container .content a:hover{
    text-decoration: underline;
}
.footer-container .icons {
    display: flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.footer-container .icons a{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}