{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <link rel="stylesheet" href="{% static 'footer/footer.css' %}">
    <link rel="stylesheet" href="{% static 'about/about.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/quiz.css' %}">
    <link rel="stylesheet" href="{% static 'register/register.css' %}">
    <link rel="stylesheet" href="{% static 'skin treatment/skin_treatment.css' %}">
    <link rel="stylesheet" href="{% static 'contact/contact_us.css' %}">
    <script src="{% static 'header/header.js' %}" defer></script>
    <script src="{% static 'register/register.js' %}" defer></script>

    
   
    <title>SKIN SAVIOUR</title>
</head>
<body>
    <nav class="navigation">
        <img class="image" src="{% static 'header/images/banner1.jpg' %}" alt="">
        <div class="container">
        <div class="nav" id="navbar">
        <div class="section-logo" >
            <img src="{% static 'header/images/logo.png' %}" alt="logo" width="40px" height="40px">
            <h3 class="name">SKIN-SAVIOUR</h3>
        </div>
        <ul class="tabs">
            <a href="{% url 'home' %}"><li>Home</li></a>
            <a href="{% url 'about' %}"><li>About Us</li></a>
            <a href="{% url 'quiz' %}"><li>Take Your Quiz</li></a>
            <a href="{% url 'skin_treatment' %}"><li>Skin Treatement</li></a>
            <a href="{% url 'tips' %}"><li>Tips</li></a>
            <a href="{% url 'contact_us' %}"><li>Contact Us</li></a>
            <a href="{% url 'register' %}"><li>Register/SignIn</li></a>
        </ul>
        </div>
        <div class="caption">
          <h1 class="content" id="content">A ONE STOP DESTINATION FOR YOUR SKIN TIPS</h1>
        </div>
        </div>
    </nav>
</body>
</html>