{% include 'header.html' %}{% load static %}
<div class="register" id="register">
    <h1>Registration Form</h1>
    <form >
    <div>
        <div class="top-container">
            <label for="username" name="username" class="username">User Name :</label>
            <input type="text" id="username">
        </div>
        <div class="top-container">    
        <label for="firstname" name="firstname" class="firstname">First Name :</label>
        <input type="text" id="firstname">
        </div>
        <div class="top-container">    
        <label for="lastname" name="lastname" class="lastname">Last Name :</label>
        <input type="text" id="lastname">
        </div>
        <div class="top-container">    
        <label for="email" name="email" class="email">Email :</label>
        <input type="text" id="email">
        </div>
        <div class="top-container">    
        <label for="password" name="password" class="password">Password :</label>
        <input type="text" id="username">
        </div>
        <div class="top-container">    
        <label for="cpassword" name="cpassword" class="cpassword">Confirm Password :</label>
        <input type="text" id="cpassword">
        </div>
    </div>
    <div class="submit">
        <button type="submit">Submit</button>
    </div>
    <div class="sign">
        <p>Already have an account <button type="button" onclick="signin()">SignIn</button></p>
    </div>
    </form>
</div>


<div class="signin" id="signin">
    <h1>SignIn Form</h1>
    <form action="">
    <div>
        <div class="top-container">
            <label for="username" name="username" class="username">User Name :</label>
            <input type="text" id="username">
        </div>
        <div class="top-container">    
        <label for="password" name="password" class="password">Password :</label>
        <input type="text" id="username">
        </div>
    </div>
    <div class="submit">
        <button type="submit">Submit</button>
    </div>
    <div class="sign">
        <p>Don't have an account <button type="button" onclick="register()">Register</button></p>
    </div>
    </form>
</div>

<!-- footer -->
<div class="footer-container" style="background:url('../static/footer/images/products1.jpg');background-repeat: no-repeat;background-size: cover;background-position-y: center;">
    <div class="icons">
        <a href="https://mail.google.com/mail/"><img class="image" src="{% static 'footer/images/email.png' %}" alt="" width="40px" height="30px"></a>
        <a href="https://www.instagram.com/"><img class="image" src="{% static 'footer/images/instagram.png' %}" alt="" width="40px" height="30px"></a>
        <a href="https://twitter.com/?lang=en"><img class="image" src="{% static 'footer/images/twitter.png' %}" alt="" width="40px" height="30px"></a>
    </div>
    <div class="content">FOR MORE INFORMATION CONNECT US AT: <a href="https://mail.google.com/mail/">skinsaviour@gmail.com</a></div>
</div>