{% include 'header.html' %}{% load static %}

<div class="skin-treatment">
    <h2>Welcome to skin saviour! {{user}}</h2>
    <h1>MORNING ROUTINE BASED ON YOUR SKIN ANALYSIS</h1>
    <p>
        {% for facewash in suggested_facewash %}
            {{facewash}}
        {% endfor %}
    </p>
    <div class="content">
        <div class="facewash">
            <h3>STEP 1 -FACE WASH/CLEANSER:</h3>
            <div class="essentials">
                <div class="head">Essential:</div>
                <ul class="description">Opt for face washes with 
                    <li>Hypoallergenic</li>
                    <li>Fragrance-Free and Soap-Free</li>
                    <li>Non-Comedogenic and pH-Balanced</li>
                    <li>Gentle Cleansing Agents such as coco-glucoside, decyl glucoside, or sodium lauroyl sarcosinate, which effectively remove dirt without causing irritation</li>  
                    <li>Calming Ingredients such as aloevera, chamomile, cucumber extract, or oat extract to help alleviate redness and irritation.</li>      
                </ul>
            </div>
            <div class="essentials">
                <div class="head-images">
                    <img src="{% static 'home/images/alovera.jpg' %}" alt="">
                    <img src="{% static 'home/images/alovera.jpg' %}" alt="">
                </div>
                <div class="description">
                    <p>Cetaphil Gentle Cleanser provides 48 hours of hydration with hydrating glycerin and skin essential vitamins B5 (panthenol) and B3 (niacinamide) and soap free, fragrance free, non foaming.</p></br>
                    <p>Neutrogena Hydro Boost Water Gel CleanserLeaves skin refreshingly clean and touchable supple every time you cleanse Helps maintain the skin’s moisture barrier.</p>
                </div>
            </div>
        </div>
        
    </div>

</div>


<!-- footer -->
<div class="footer-container" style="background:url('../static/footer/images/products1.jpg');background-repeat: no-repeat;background-size: cover;background-position-y: center;">
    <div class="icons">
        <a href="https://mail.google.com/mail/"><img class="image" src="{% static 'footer/images/email.png' %}" alt="" width="40px" height="30px"></a>
        <a href="https://www.instagram.com/"><img class="image" src="{% static 'footer/images/instagram.png' %}" alt="" width="40px" height="30px"></a>
        <a href="https://twitter.com/?lang=en"><img class="image" src="{% static 'footer/images/twitter.png' %}" alt="" width="40px" height="30px"></a>
    </div>
    <div class="content">FOR MORE INFORMATION CONNECT US AT: <a href="https://mail.google.com/mail/">skinsaviour@gmail.com</a></div>
</div>
