{% include 'header.html' %}{% load static %}

<div class="tips">
<div class="section1">
    <div class="image">
        <img src="{% static 'tips/images/img.jpg' %}" alt=""/>
    </div>
    <div class="description">
        <h2>WHAT WE COVER ?</h2>
        <p class="content">Welcome to our comprehensive skincare guide, your go-to resource for achieving healthy, radiant skin. Whether you're a skincare enthusiast or a newbie looking to upgrade your routine, we've got you covered with a plethora of tips and recommendations tailored to your specific needs. Whether you're looking to revamp your current routine or start from scratch, our skincare tips page has everything you need to achieve your skincare goals and unlock your skin's full potential. Let's embark on this journey to  youthful-looking skin together!</p>
    </div>
</div>
<div class="section2">
    <div class="card">
        <img src="{% static 'tips/images/img1.jpg' %}" alt=""/>
        <h3>WHY SKINCARE ?</h3>
    </div>
    <div class="card">
        <img src="{% static 'tips/images/img2.png' %}" alt=""/>
        <h3>BENEFITS OF SKINCARE</h3>
    </div>
    <div class="card">
        <img src="{% static 'tips/images/img3.png' %}" alt=""/>
        <h3>COMBINATIONS</h3>
    </div>
    <div class="card">
        <img src="{% static 'tips/images/img4.png' %}" alt=""/>
        <h3>THINGS U SHOULD INCLUDE IN YOUR DAILY ROUTINE</h3>
    </div>
    <div class="card">
        <img src="{% static 'tips/images/img5.jpg' %}" alt=""/>
        <h3>SUGGESTIONS BASED ON YOUR SKIN CONCERN</h3>
    </div>
    <div class="card">
        <img src="{% static 'tips/images/img6.webp' %}" alt=""/>
        <h3>SUGGESTIONS BASED ON YOUR SKIN TYPE</h3>
    </div>
</div>
<div class="section3">
    <div class="image">
        <img src="{% static 'tips/images/img31.jpg' %}" alt=""/>
    </div>
    <div class="description">
        <h2>WHY SKINCARE ?</h2>
        <p class="content">Skincare isn't just about looking good; it's about feeling good and maintaining the health of your skin. It's a vital aspect of self-care and overall health. We'll delve into the science behind skincare, explaining how proper care can strengthen your skin barrier, prevent premature aging, and boost your confidence. " Simple yet consistent steps tailored to individual skin needs lay the groundwork for long-term skin health and vitality. "</p>
    </div>
</div>
<div class="section4">
    <div class="description">
        <h2>BENEFITS OF SKINCARE</h2>
        <p class="content">Having a good skincare routine helps us in many ways. It keeps our skin healthy and protected from things like the sun and pollution. This means we're less likely to get wrinkles and our skin stays hydrated and youthful-looking. Plus, taking care of our skin can be a nice way to relax and feel good about ourselves. When we use creams and treatments, it's like giving ourselves a little pampering session. And when our skin looks good, we feel more confident in everything we do. " Skincare isn't just about looking nice—it's about feeling good and taking care of ourselves inside and out. "</p>
    </div>
    <div class="image">
        <img src="{% static 'tips/images/img32.png' %}" alt=""/>
    </div>
</div>
<h1>COMBINATIONS</h1>
<p class="description1">Discover the perfect combination of skincare products and routines to address your unique skin concerns. we'll help you create a customised regimen that works harmoniously to promote clear, glowing skin.</p>
<div class="section5">
    <div class="image">
        <div class="one"><img src="{% static 'tips/images/img411.jpg' %}" alt=""/></div>
        <div class="two"><img src="{% static 'tips/images/img412.jpg' %}" alt=""/></div>
    </div>
    <div class="description">
        <h2>GLYCOLIC + SALICYLIC ACID</h2>
        <p class="content">Glycolic acid is an alpha hydroxy acid (AHA) known for its ability to exfoliate the skin's surface, promoting cell turnover and revealing smoother, brighter skin. Salicylic acid, on the other hand, is a beta hydroxy acid (BHA) that penetrates deep into the pores, exfoliating within the follicles and removing excess oil, dead skin cells, and debris. Together, they provide comprehensive exfoliation, preventing clogged pores and breakouts while improving overall skin texture. Salicylic acid is particularly effective at targeting acne preventing the formation of clogged pores and inflammatory acne lesions. Glycolic acid complements this by removing dead skin cells and excess oil from the skin's surface, preventing pore blockages and further breakouts.</p>
    </div>
</div>
<div class="section6">
    <div class="description">
        <h2>NIACINAMIDE + VITAMIN C</h2>
        <p class="content">Niacinamide helps to reduce the appearance of dark spots, hyperpigmentation, and uneven skin tone, while vitamin C (ascorbic acid) is a potent antioxidant that brightens the complexion and fades pigmentation. Niacinamide has anti-inflammatory properties that help calm redness, irritation, and acne. Vitamin C also exhibits soothing effects and can reduce inflammation, making this combination beneficial for those with sensitive or acne-prone skin. Niacinamide strengthens the skin's barrier function. Vitamin C boosts this effect by promoting collagen production and supporting skin repair processes.</p>
    </div>
    <div class="image">
        <div class="three"><img src="{% static 'tips/images/img421.jpg' %}" alt=""/></div>
        <div class="four"><img src="{% static 'tips/images/img422.jpg' %}" alt=""/></div>
    </div>
</div>
<div class="section7">
    <div class="image">
        <div class="one"><img src="{% static 'tips/images/img431.jpg' %}" alt=""/></div>
        <div class="two"><img src="{% static 'tips/images/img432.jpg' %}" alt=""/></div>
    </div>
    <div class="description">
        <h2>RETINOL + HYALURONIC ACID</h2>
        <p class="content">Having a good skincare routine helps us in many ways. It keeps our skin healthy and protected from things like the sun and pollution. This means we're less likely to get wrinkles and our skin stays hydrated and youthful-looking. Plus, taking care of our skin can be a nice way to relax and feel good about ourselves. When we use creams and treatments, it's like giving ourselves a little pampering session. And when our skin looks good, we feel more confident in everything we do. " Skincare isn't just about looking nice—it's about feeling good and taking care of ourselves inside and out. "</p>
    </div>
</div>
<div class="section8">
    <div class="description">
        <h2>KOJIC ACID + NIACINAMIDE</h2>
        <p class="content">Both kojic acid and niacinamide have skin-brightening properties that help reduce the appearance of dark spots, hyperpigmentation, and uneven skin tone. By inhibiting melanin production, kojic acid lightens existing pigmentation, while niacinamide helps to prevent future discoloration and promote a more radiant complexion. Niacinamide is a potent antioxidant that helps neutralize free radicals and protect the skin from environmental damage. When combined with kojic acid, which also possesses antioxidant properties, it enhances the skin's defence against oxidative stress, preventing premature aging and promoting overall skin health.</p>
    </div>
    <div class="image">
        <div class="three"><img src="{% static 'tips/images/img441.jpg' %}" alt=""/></div>
        <div class="four"><img src="{% static 'tips/images/img442.jpg' %}" alt=""/></div>
    </div>
</div>
<div class="section9">
<h1>THINGS U SHOULD INCLUDE IN YOUR DAILY ROUTINE</h1>
<div class="one">
    <h3>BALANCED DIET :</h3>
    <p>Eating a nutritious diet rich in fruits, vegetables, whole grains, lean proteins, and healthy fats provides essential vitamins, minerals, and antioxidants that nourish the skin from within. Include foods high in antioxidants like berries, leafy greens, and nuts to help protect the skin from oxidative damage.</p>
</div>
<div class="two">
    <h3>HYDRATION :</h3>
    <p>Drinking an adequate amount of water throughout the day helps keep the skin hydrated and promotes detoxification. Aim for at least 8 glasses of water daily, or more if you're physically active or in a hot climate.</p>
</div>
<div class="three">
    <h3>REGULAR EXERCISE :</h3>
    <p>Engaging in regular physical activity improves blood circulation, which nourishes the skin cells and helps carry away toxins. Exercise also reduces stress, which can have a positive impact on skin health.</p>
</div>
<div class="four">
    <h3>SUN-PROTECTION :</h3>
    <p>Protecting your skin from harmful UV rays is crucial for preventing sun damage, premature aging, and skin cancer. Wear broad-spectrum sunscreen with an SPF of 30 or higher daily, even on cloudy days, and reapply every two hours when outdoors.</p>
</div>
<div class="five">
    <h3>SIMPLE SKIN- CARE   ROUTINE :</h3>
    <p>Establishing a gentle skincare routine tailored to your skin type and concerns is essential for maintaining healthy skin. Cleanse your skin twice daily, moisturize to keep it hydrated, and use sunscreen during the day. Incorporate exfoliation and treatment products as needed, but avoid overdoing.</p>
</div>
<div class="six">
    <h3>ADEQUATE SLEEP :</h3>
    <p>Getting enough quality sleep is essential for skin repair and regeneration. Aim for 7-9 hours of sleep each night to allow your skin to rest and rejuvenate.</p>
</div>
</div>
<h1>SUGGESTIONS BASED ON YOUR SKIN CONCERN</h1>
<div class="section10">
    <div class="image">
        <img src="{% static 'tips/images/img51.jpeg' %}" alt=""/>
    </div>
    <div class="description">
        <h2>DEHYDRATION/BREAKOUTS/DRY PATCHES/SENSITIVITY/IRRITATION</h2>
        <p class="content">Hyaluronic acid is a humectant, meaning it attracts and retains moisture from the environment. When applied topically, it helps to hydrate the skin by drawing in water molecules, resulting in a plump, dewy complexion.Hyaluronic acid has anti-inflammatory properties that can help soothe and calm irritated or sensitive skin. Hyaluronic acid is highly compatible with other skincare ingredients, making it a versatile addition to skincare formulations.</p>
    </div>
</div>
<div class="section11">
    <div class="description">
        <h2>OIL CONTROL/ACTIVE ACNE</h2>
        <p class="content">Salicylic acid is a beta hydroxy acid (BHA) that penetrates deep into the pores, effectively dissolving excess oil and debris that can lead to acne. It also has anti-inflammatory properties, making it useful for reducing redness and swelling associated with active breakouts. Salicylic acid exfoliates the skin, helping to unclog pores and prevent breakouts. Salicylic acid is commonly found in cleansers, toners, spot treatments, and exfoliating pads. For beginners, start with a low concentration (usually around 0.5% to 2%) and gradually increase as tolerated. You can use it once or twice daily, depending on your skin's tolerance.</p>
    </div>
    <div class="image">
        <img src="{% static 'tips/images/img52.webp' %}" alt=""/>
    </div>
</div>
<div class="section12">
    <div class="image">
        <img src="{% static 'tips/images/img53.webp' %}" alt=""/>
    </div>
    <div class="description">
        <h2>HYPER PIRGMENTATION</h2>
        <p class="content">Glycolic acid is a potent alpha hydroxy acid (AHA) known for its ability to exfoliate the skin, promote cell turnover, and fade dark spots and uneven pigmentation. It works by removing dead skin cells from the surface of the skin, revealing brighter, more even-toned skin underneath.It's also well-tolerated by acne-prone skin and can help improve the appearance of post-inflammatory hyperpigmentation (PIH) caused by acne.</p>
    </div>
</div>
<div class="section13">
    <div class="description">
        <h2>WRINKLES/OPEN PORES</h2>
        <p class="content">Retinol stimulates collagen production in the skin, which helps to improve skin firmness and elasticity. By increasing cell turnover, retinol helps to smooth the skin's surface, reducing the appearance of fine lines and wrinkles. Retinol also promotes the production of new skin cells, which can help to fade existing wrinkles and prevent the formation of new ones.Retinol helps to regulate sebum production, which can contribute to the appearance of enlarged pores. By reducing excess oil production, retinol can help to minimize the size of pores.</p>
    </div>
    <div class="image">
        <img src="{% static 'tips/images/img54.jpg' %}" alt=""/>
    </div>
</div>
<div class="section14">
    <div class="image">
        <img src="{% static 'tips/images/img55.webp' %}" alt=""/>
    </div>
    <div class="description">
        <h2>ACNE MARKS</h2>
        <p class="content">Azelaic acid has been shown to effectively lighten dark spots and hyperpigmentation, including those left behind by acne. It inhibits tyrosinase, the enzyme responsible for melanin production, leading to a reduction in discoloration over time.Azelaic acid has anti-inflammatory properties, making it beneficial for calming redness and irritation associated with acne and post-inflammatory hyperpigmentation. It can help reduce the overall appearance of inflamed acne marks. In addition to fading existing acne marks, azelaic acid also helps to prevent new breakouts by targeting acne-causing bacteria and reducing inflammation in the skin.</p>
    </div>
</div>
<h1>SUGGESTIONS BASED ON YOUR SKIN TYPE</h1>
<div class="section15">
    <div class="image">
        <img src="{% static 'tips/images/img61.jpg' %}" alt=""/>
    </div>
    <div class="description">
        <h2>FOR DRY SKIN</h2>
        <p class="content">Hyaluronic acid offers exceptional benefits for dry skin, serving as a powerful hydrator due to its remarkable moisture-retaining properties. As a humectant, hyaluronic acid attracts water molecules from the environment and binds them to the skin, providing intense hydration and replenishing moisture lost from environmental factors or aging. Lightweight, non-greasy texture ensures quick absorption into the skin, delivering instant relief without leaving any residue. Beyond hydration, hyaluronic acid soothes irritation, reduces redness, and plumps fine lines and wrinkles.</p>
    </div>
</div>
<div class="section16">
    <div class="description">
        <h2>FOR OILY SKIN</h2>
        <p class="content">Salicylic acid is highly beneficial for oily skin due to its unique properties that target excess oil production and related concerns. As a beta hydroxy acid (BHA), salicylic acid is oil-soluble, allowing it to penetrate deep into the pores where it effectively dissolves sebum, dirt, and other impurities that can lead to clogged pores and breakouts. By unclogging pores, salicylic acid helps to prevent acne blemishes, blackheads, and whiteheads, making it an essential ingredient in acne-fighting skincare products. Additionally, salicylic acid has anti-inflammatory properties that help reduce redness and inflammation associated with acne, promoting a clearer, calmer complexion. </p>
    </div>
    <div class="image">
        <img src="{% static 'tips/images/img62.png' %}" alt=""/>
    </div>
</div>
<div class="section17">
    <div class="image">
        <img src="{% static 'tips/images/img63.png' %}" alt=""/>
    </div>
    <div class="description">
        <h2>FOR SENSITIVE SKIN</h2>
        <p class="content">For sensitive skin, one of the most beneficial acids is lactic acid. As an alpha hydroxy acid (AHA), lactic acid offers gentle exfoliation without causing excessive irritation or dryness. Lactic acid has larger molecules that penetrate the skin more slowly, resulting in a milder exfoliating effect. This makes it well-suited for sensitive skin types prone to redness, irritation, or inflammation. Lactic acid helps to remove dead skin cells, unclog pores, and improve skin texture, resulting in a smoother, more radiant complexion. It can also stimulate collagen production, contributing to firmer, more youthful-looking skin over time. When using lactic acid for sensitive skin, it's essential to start with a lower concentration and patch-test new products to ensure compatibility. </p>
    </div>
</div>
<div class="section18">
    <div class="description">
        <h2>FOR COMBINATION</h2>
        <p class="content">For combination skin-type, Salicylic acid is a beta hydroxy acid (BHA) known for its ability to penetrate deep into the pores, making it effective for addressing both oily and acne-prone areas, common concerns in combination skin. Salicylic acid helps to unclog pores, remove excess oil, and prevent breakouts, making it especially useful for the T-zone or areas prone to acne and congestion. Another benefit of salicylic acid for combination skin is its exfoliating properties. By gently sloughing away dead skin cells, salicylic acid promotes smoother, more even skin texture, addressing dry patches often found in combination skin while also helping to refine the appearance of enlarged pores. </p>
    </div>
    <div class="image">
        <img src="{% static 'tips/images/img64.png' %}" alt=""/>
    </div>
</div>
</div>



<!-- footer -->
<div class="footer-container" style="background:url('../static/footer/images/products1.jpg');background-repeat: no-repeat;background-size: cover;background-position-y: center;">
    <div class="icons">
        <a href="https://mail.google.com/mail/"><img class="image" src="{% static 'footer/images/email.png' %}" alt="" width="40px" height="30px"></a>
        <a href="https://www.instagram.com/"><img class="image" src="{% static 'footer/images/instagram.png' %}" alt="" width="40px" height="30px"></a>
        <a href="https://twitter.com/?lang=en"><img class="image" src="{% static 'footer/images/twitter.png' %}" alt="" width="40px" height="30px"></a>
    </div>
    <div class="content">FOR MORE INFORMATION CONNECT US AT: <a href="https://mail.google.com/mail/">skinsaviour@gmail.com</a></div>
</div>