.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    font-weight: 500;
}
.footer-container .icons .image{
   border-radius: 50%;
}
.footer-container .content a{
    text-decoration: none;
    color: black;
}