.signup{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.signup .heading{
    color:#b56231;
    margin-top: 1rem;
}
.signup form{
    text-align: left;
    box-shadow: 1px 1px 8px 2px gray;
    margin: 2rem;
    width: 40%;
    border-radius: 6px;
    margin: 50px;
    padding: 50px;
}
.signup form label{
    width: 30%;
    color: #b56231;
    font-size: 25px;
    line-height: 3.5rem;
    margin-right: 1rem;
    padding: 10px;
}
.signup form input{
    width: 45%;
    border-radius: 3px;
    padding-left: 10px;
    float: right;
    outline: none;
    border: none;
    box-shadow: 2px 2px 4px 1px rgb(216, 215, 215);
    height: 30px;
    font-size: 18px;
    color: gray;
    margin-top: 1rem;
}
.signup form .submit,.signup form .last-section{
    width: 100%;
    text-align: center;
}
.signup form button{
    align-items: center;
    margin: 20px;
    color: white;
    background-color:#b56231;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    padding: 8px 20px;
}
.signup form button:hover{
    cursor: pointer;
}
.signup form > span{
    display: none;
}
/* footer */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    font-weight: 200;
}
.footer-container .signup{
    width: 100%;
    
}
.footer-container .signup a{
    text-decoration: none;
    color: black;
}
.footer-container .signup a:hover{
    text-decoration: underline;

}
.footer-container .icons {
    display: flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.footer-container .icons a{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;

}