.signup{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.signup .heading{
    color:#b56231;
    margin-top: 3rem;
}
.signup form{
    text-align: left;
    box-shadow: 1px 1px 8px 2px gray;
    margin: 2rem;
    width: 40%;
    border-radius: 6px;
    padding: 50px;
}
.signup form label{
    width: 30%;
    color: #b56231;
    font-size: 25px;
    line-height: 3.5rem;
    margin-right: 1rem;
    padding: 10px;
}
.signup form input{
    width: 45%;
    border-radius: 3px;
    padding-left: 10px;
    float: right;
    outline: none;
    border: none;
    box-shadow: 2px 2px 4px 1px rgb(216, 215, 215);
    height: 30px;
    font-size: 18px;
    color: gray;
    margin-top: 1rem;
}
.signup form .submit,.signup form .last-section{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}
.signup form button{
    align-items: center;
    margin: 20px;
    color: white;
    background-color:#b56231;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    padding: 8px 20px;
}
.signup form button:hover{
    cursor: pointer;
}
.signup form .helptext{
    display: none;
}

.signup form .errorlist{
    display: none;
}
.popup{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.popup p{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 300px;

}
.timer-bar {
    margin-top: 30px;
    width: 100%; 
    height: 15px;
    border-radius: 20px;
    background-color: #4CAF50;
    transition: width 0.3s linear;
}
#overlay {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 99; 
    display: none; 
}


@media screen and (min-width:1600px) and (max-width:1940px){
    .signup form{
        width: 50%;
    }
}